code
{
	background: rgba(224, 208, 255, 0.2);

	border: 1px solid #CCC; border-radius: 10px;

	display: block;
	margin: 5px; padding: 2px;
	white-space: pre;

	max-height: 15em;
	overflow: auto;
}

code:hover, code.inline { max-height: none; }
code.stackframe { white-space: nowrap; }

