.commentlist { margin-bottom: 20px; }
.commentlist .commentlist { margin: 0 -16px 10px 28px; }

.comment
{
	min-width: 300px;
	margin: 5px -1px 0 0;
	padding: 2px 15px 20px 15px;
	position: relative;
	background-color: rgba(255, 208, 128, 0.15);
	border: 2px outset rgba(255, 255, 192, 0.25);
	border-radius: 5px;
}

.comment:nth-child(2n) { background-color: rgba(255, 176, 176, 0.15); border-color: rgba(255, 176, 176, 0.25); }

.comment>div.info
{
	position: absolute;
	bottom: 0;
	line-height: 18px;
}

.comment-author
{
	float: left;
	width: 60px;
	text-align: center;
	position: relative;

	margin: 0 5px 0 -10px;
	padding-bottom: 10px;
}

.avatar
{
	display: block;
	margin: 1px auto;
}

