fieldset
{
	border-radius: 8px;
	border-style: outset;
}

textarea
{
	display: block;
	width: 100%;
	min-height: 6em;
	margin: 5px 0;
	resize: vertical;
	box-sizing: border-box;
}

input, textarea
{
	padding: 2px 5px;
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px inset;
	border-radius: 8px;
	font-family: Calibri, Tahoma, Helvetica, sans-serif;
	font-size: 14px;
}

input[type=submit]
{
	padding: 3px 5px;
	display: block;
	margin: 5px auto;
	font-size: 16px;
	border-radius: 8px;
	border-style: outset;
}

