header
{
	height: 85px;
	margin: -35px -40px 20px -220px;
	padding: 7px 30px 3px 30px;
	background-color: #000;
	background-color: hsla(40, 50%, 15%, 0.25);
	box-shadow: 0 0 10px 8px hsla(40, 50%, 15%, 0.25);
	text-shadow: 2px 0 4px black;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

header>h1
{
	padding: 1ex 0 0 1ex;
	font-family: 'Marcellus SC', serif;
	font-size: 24pt;
}

header>h1>a
{
	color:#FFF;
}

#tagline
{
	color:#FFF;
	font-family: 'Marcellus SC', serif;
	margin-left: 50px;
	font-size: 14pt;
}

