header
{
	text-align: center;
	height: 5em;
	margin-left: -200px;
	padding: 1em;
}

header>h1
{
	padding: 0;
	margin: 0;
	font-size: 24pt;
}

header>h1>a
{
	color:#000;
}

#tagline
{
	font-size: 14pt;
}

