html
{
	background: #e0e0ff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEX4+Pj09PQf/c7fAAAAGUlEQVR4XnXIMQ0AAACDMPyb3gxA0qswVX1+vw/xW46qyAAAAABJRU5ErkJggg==);
	font-family: Nunito,Calibri,'Open Sans',Helvetica,sans-serif;
	font-size: 14px; color: #000;
	min-height: 100%; overflow-y: scroll;
}

body
{
	position: relative;
	max-width: 140ex; min-height: 800px; min-width: 600px;
	margin: 0 auto;
	padding: 0 20px 2em 220px;
	box-sizing: border-box;

	background-color: rgba(255, 255, 255, 0.5);
}

.flash
{
	width: 40ex; text-align: center;
	padding: 5px; margin: 8px;
	font-size: 16px;

	border: 2px outset rgba(255, 255, 0, 0.2);
	background: rgba(255, 255, 0, 0.2);
	border-radius: 15px;
}

