.tory    { background-color: rgba( 30, 144, 255, 0.4); }
.libdem  { background-color: rgba(253, 187,  48, 0.4); }
.labour  { background-color: rgba(220,  36,  31, 0.4); }
.ukip    { background-color: rgba(112,  20, 121, 0.4); }
.greenuk { background-color: rgba(153, 204,  51, 0.4); }
