#sidebar
{
	position: absolute; width: 170px;
	left: 10px; top: 100px;	bottom: 50px;
	border-right: 1px solid #888;
	padding-top: 8px;
	overflow-x: hidden;
	border-top-right-radius: 6px;
}

.feed
{
	line-height: 25px;
	background: url(img/rss.png) no-repeat;
	display: block;
	height: 25px;
	padding-left: 30px;
}

